<% title "Need BJJ Help Home" %>
<div class="col">
  <h1 class="mt-4">Need BJJ Help</h1>

  <p class="pl-2 pr-3">
  Who doesn't? #amirite These are the best things we've got so far. For all the cool personalized stuff like notebooks, favorites, or adding your own videos, either <%= link_to "Sign In", new_user_session_path %>  or <%= link_to "Register", new_user_registration_path %> for a new account. 
  </p>

  <%= render partial: 'search/search_bar' %>

  <%= render partial: 'shared/dashboard_cards', locals: { links: @links, pagy: @pagy} %>
</div>
