<% title "BJJDB Home" %>
<div class="col">
  <h1 class="mt-4">Welcome to BJJDB</h1>

  <p>
  These are the most recently added videos to our library.
  For a better experience, either <%= link_to "Sign In", new_user_session_path %> to your existing account or <%= link_to "Register", new_user_registration_path %> for a new account.
  </p>

  <div class="card-columns">
    <%= render partial: 'links/cards', locals: { links: @links } %>
  </div>

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <%== pagy_nav_bootstrap(@pagy) %>
      </div>
    </div>
  </div>
</div>
