<div class="col">
  <h1 class="mt-4">Welcome to BJJDB</h1>

  <p>
  These are the 10 most recently added videos to our library.
  For a better experience, either <%= link_to "Sign In", new_user_session_path %> to your existing account or <%= link_to "Register", new_user_registration_path %> for a new account.
  </p>

  <div class="card-columns">
    <%= render partial: 'links/cards', locals: { links: @links } %>
  </div>
</div>
