<div class="col">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h1 class="mt-4">Edit Instructor</h1>
        </div>
        <div class="card-body">

          <%= render 'form', instructor: @instructor %>
        </div>
      </div>
    </div>

    <div class="col-3">
    </div>
  </div>
</div>

</div>
