<div class="row mb-3">
  <div class="col">
  <div id="accordion" class="accordion">

    <div class="card ml-2 mr-2 mb-1 border-bottom">

      <div class="card-header collapsed" data-toggle="collapse" href="#collapseStats">
        <h4><a class="card-title">My Stats</a></h4>
      </div>

      <ul id="collapseStats" class="list-group list-group-flush collapse" data-parent="#accordion">
        <% [ ['All Time', reviews], ['This Year', this_year], ['Last Year', last_year] ].each do |rg| %>
          <% next if rg[1].empty? %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-2">
                <h5><%= rg[0] %></h5>
              </div>

              <div class="col-9">

                <div class="row">
                  <div class="col-3">
                    Countries Visited
                  </div>
                  <div class="col-1">
                    <%= reviews_country_count(rg[1]) %>
                  </div>

                  <div class="col-3">
                    Gyms Visited
                  </div>
                  <div class="col-1">
                    <%= reviews_gyms_count(rg[1]) %>
                  </div>

                  <div class="col-3">
                    Average Gyms per Country
                  </div>
                  <div class="col-1">
                    <%= reviews_gyms_per_country_average(rg[1]) %>
                  </div>
                </div>

              </div>

              <div class="col-1"></div>
            </div>
          </li>
        <% end %>
      </ul>

    </div>

  </div>
  </div>
</div>
