<% content_for :title do %>Dashboard<% end %>
<div class="col">
  <%= render partial: 'search/search_bar' %>

  <div class="card-columns">
    <%= render partial: 'links/cards', locals: { links: @links } %>
  </div>

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <%== pagy_nav_bootstrap(@pagy) %>
      </div>
    </div>
  </div>
</div>
