<% content_for :title do %><%= @user.name %> Favorites<% end %>
<div class="col">
  <h1 class="mt-4">My Favorites</h1>

  <% if @favorites.count > 0 %>
    <%= render partial: 'links/list', locals: { links: @favorites } %>
  <% else %>
    <p>You haven't actually favorited any videos. Go watch some and favorite the ones that you like. They'll be right here waiting for you.</p>
  <% end %>

</div>

