  <div id="main-cards" class="card-columns">
    <%= render partial: 'links/cards', locals: { links: links } %>
  </div>

  <div class="row">
    <div class="col">
      <div id="pagy-div" class="d-flex justify-content-center">
        <%== pagy_nav_bootstrap(@pagy) %>
      </div>
    </div>
  </div>
