<div class="col">
  <h1 class="mt-4">Videos</h1>
  <% if @admin %>
    <%= render partial: 'links/tag_filter' %>
  <% end %>
  <div id="link-display"><%= render partial: 'links/list', locals: { links: @links } %></div>

  <div id="pages-nav" class="d-flex justify-content-center">
    <%== pagy_nav_bootstrap(@pagy) %>
  </div>
  
  <% if @current_user %>
    <%= link_to 'New Video', new_link_path, class: 'btn btn-primary btn-large mt-1' %>
  <% end %>

</div>
