<div class="col">
  <h1 class="mt-4">Videos</h1>
  
  <%= render partial: 'links/list', locals: { links: @links } %>
  
  <% if @current_user %>
    <%= link_to 'New Link', new_link_path, class: 'btn btn-primary btn-large mt-1' %>
  <% end %>

</div>
