<div class="col">
  <div class="card">
    <div class="card-header">
      <h1 class="mt-4">New Video</h1>
    </div>
    <div class="card-body">   
      <p>
        Focus on really good tagging. Leave the rest to us.
      </p>
      <%= render 'form', link: @link %>
    </div>
</div>
