<table class="table">
  <thead>
    <tr>
      <th>Gym Name</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% gyms.each do |gym| %>
      <tr>
        <td><%= link_to gym.name, gym %></td>
        <td><%= gym.average_stars %> stars / <%= pluralize(gym.reviews.count, 'review') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
