<div class="col">
  <h1 class="mt-4">Gym List</h1>
  <p>
  <%= link_to 'New Gym', new_gym_path, class: 'btn btn-primary btn-large mt-1' %>
  </p>
  <div><%= render partial: 'gyms/admin_list', locals: { gyms: @gyms } %></div>

  <div id="pages-nav" class="d-flex justify-content-center">
    <%== pagy_nav_bootstrap(@pagy) %>
  </div>
  
  <%= link_to 'New Gym', new_gym_path, class: 'btn btn-primary btn-large mt-1' %>

</div>
