<% title "Add Gym" %>
<div class="col">
  <div class="card">
    <div class="card-header">
      <h1 class="mt-4">New Gym</h1>
    </div>
    <div class="card-body">   
      <p>
      Add as much about the gym as you know.
      Once the gym is created, it will go into moderation while the admins verify the information is correct (typically 24 hours).
      Then the gym and your review will be live on the site.
      </p>
      <%= render 'form', gym: @gym %>
    </div>
</div>
