// Removing radio buttons for stars
.starrating > input {display: none;}

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2.5em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #cccccc; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
