            <div class="notebook-paper mb-2">
              <div class="notebook-content">
                <div class="notebook-header">
                  <h3 class="notebook-title"><%= private_note.title %></h3>
                </div>
                <p><%= private_note.body %></p>
              </div>
            </div>

