<li class='nav-item'><%= link_to 'Dashboard', root_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Videos', links_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Tags', tags_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
